beautifulsoup4     
blinker           
certifi            
charset-normalizer 
click              
colorama           
Flask             
Flask-Cors         
idna               
itsdangerous       
Jinja2             
lyricsgenius       
MarkupSafe         
pillow             
pip                
requests           
soupsieve          
urllib3            
Werkzeug
gunicorn
